---
const pageTitle = "My Home Page";

import '../styles/global.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			h1 {
			  color: black;
			  font-size: 2.5rem;
			}
		  </style>
	</head>
	<body>
		<header>
			<nav>
			     <ul>
		             <a href="http://localhost:4321/">Home</a>
                     <a href="http://localhost:4321/about">About</a>
                     <a href="http://localhost:4321/blog">Blog</a>
			     </ul>
			</nav>
		</header>
		<h1>{pageTitle}</h1>
		<p>Hey i am Abdul rahman, final year student of Electronics </p>
	</body>
</html