---
---
<div class="nav-links">
   <a href="http://localhost:4321/">Home</a>
   <a href="http://localhost:4321/about">About</a>
   <a href="http://localhost:4321/blog">Blog</a>
   <a href="/tags/">Tags</a>
</div>